<section class="admin-dashboard-show">
  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>
  <div class="admin-summary">
    <div class="dashboard-card">
      <a href="/admin/products" class="card-link">
        <div class="card-content">
          <h2 class="card-title">Products</h2>
          <span class="card-count"><%= @product_count %></span>
        </div>
      </a>
    </div>
    <div class="dashboard-card">
      <a href="/admin/categories" class="card-link">
        <div class="card-content">
          <h2 class="card-title">Categories</h2>
          <span class="card-count"><%= @category_count %></span>
        </div>
      </a>
    </div>
    <div class="dashboard-card">
      <a href="/admin/sales" class="card-link">
        <div class="card-content">
          <h2 class="card-title">Sales</h2>
          <span class="card-count"><%= @sale_count %></span>
        </div>
      </a>
    </div>
  </div>
</section>


