.about-us {
  padding: 1em;

  .container {
    background-color: white;
    border-radius: 0.25em;
    border: 0.1em solid rgba(0, 130, 29, 0.3);
    box-shadow: rgba(0, 130, 29, 0.16) 0px 3px 6px,
      rgba(0, 130, 29, 0.23) 0px 3px 6px;
    padding: 1em;

    h1 {
      font-family: "Montserrat";
      font-weight: 700;
      color: rgba(0, 130, 29, 0.7);
      margin-bottom: 1em;
    }

    p {
      font-family: "Montserrat";
      color: rgba(0, 0, 0, 0.8);
      margin-bottom: 1em;
    }
  }
}
